## for 구문

In [1]:
names = ['Tom', 'Sarah', 'Ethan', 'Peyton', 'Simon']

In [2]:
for name in names:
    print(name)

Tom
Sarah
Ethan
Peyton
Simon

1과 10 사이의 자연수의 합 구하기

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10] 
total = 0
for k in numbers:
    total += k
print(total)

55

range() 함수 사용하기

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
total = 0
for k in range(1,11):
    total += k
print(total)

55

### continue 키워드

In [6]:
numbers = [1,2,3,4,5,6,7,8,9,10]
total = 0
for k in numbers:
    if k%2 == 0:
        continue
    total += k
print(total)

25

### break 키워드

In [7]:
numbers1 = [1,3,4,0,-3,5,3,7]
total = 0
for k in numbers1:
    if k < 0:
        break
    total += k
print(total)

8

### 여러 개의 튜플 원소의 값 동시에 사용하기

In [8]:
words = [('Python', 'Noun'), ('Java', 'Noun'), ('is', 'Verb'), ('do', 'Verb')]

In [9]:
for word, pos in words:
    print('{0}의 품사는 {1}입니다.'.format(word, pos))

Python의 품사는 Noun입니다.
Java의 품사는 Noun입니다.
is의 품사는 Verb입니다.
do의 품사는 Verb입니다.

### enumerate()

In [10]:
words = ['today', 'yesterday', 'tomorrow']

In [11]:
list(enumerate(words))

[(0, 'today'), (1, 'yesterday'), (2, 'tomorrow')]

In [12]:
for index, word in enumerate(words):
    print('{0} has index {1}'.format(word, index))

today has index 0
yesterday has index 1
tomorrow has index 2

### for 문을 이용하여 사전 데이터의 값 추출하기

In [6]:
name_age = {'Tom': 23, 'Sarah':23,'John': 31,  'Tom':45}

In [7]:
for name in name_age:
    print('{0}의 나이는 {1}입니다.'.format(name, name_age[name]))

Tom의 나이는 45입니다.
Sarah의 나이는 23입니다.
John의 나이는 31입니다.

## 리스트 comprehension

In [19]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = []
for k in numbers:
    squared_numbers.append(k**2)

In [20]:
squared_numbers

[1, 4, 9, 16, 25]

In [21]:
squared_numbers1 = [k**2 for k in numbers]

In [22]:
squared_numbers1

[1, 4, 9, 16, 25]

In [23]:
squared_numbers2 = [k**2 for k in numbers if k%2 == 0]

In [24]:
squared_numbers2

[4, 16]